/*Compulsory task:
____________________

Stylesheet for meet-the-pros.html*/


//I used 3 images here because i wanted to flex, but also so they wouldn't repeat.
body{
    width: 90%;
    margin: auto;
    background-image: url(https://images6.alphacoders.com/989/989927.jpg), url(https://images6.alphacoders.com/115/1151512.jpg), url(https://images5.alphacoders.com/115/1159986.png);
    background-position: left top, center, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

#container{
    display: grid;
}

header{
    grid-column: 1/13;
    grid-row: 1;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightskyblue;
    opacity: 0.7;
}

section{
    grid-column: 4/13;
    text-align: left;
}

aside{
    grid-column: 1/4;
    padding: 5px;
    font-size: x-large;
    text-align: center;
    background-color: lightslategray;
}

//making all the names a little nicer and exact.
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

//setting all the gamers' socials to be in line witht their images.
#gamer1{
    grid-row: 2;
}

#gamer2{
    grid-row: 3;
}

#gamer3{
    grid-row: 4;
}

#gamer4{
    grid-row: 5;
}

#gamer5{
    grid-row: 6;
}

//the little footnote styled to be in line with the asides.
footer{
    grid-column: 1/4;
    padding: 5px;
    font-size: larger;
    text-align: left;
    background-color: lightslategray;
}

/*End.*/