/*Compulsory task:
____________________*/

//stylesheet for save-for-later.js

body{
    
    background-image: url("https://images6.alphacoders.com/115/1150929.jpg");
    background-position: top left;
    background-repeat: no-repeat; 
    background-size: cover;
    
}


//End